[Unit]
Description=Frankfurt web site

[Service]
WorkingDirectory=/home/njones/frankfurt/
ExecStart=/home/njones/frankfurt/run.sh

[Install]
WantedBy=default.target
