[Unit]
Description=Frankfurt discord bot

[Service]
WorkingDirectory=/home/njones/frankfurt/
EnvironmentFile=/home/njones/frankfurt/.env
ExecStart=/home/njones/frankfurt/run-bot.sh

[Install]
WantedBy=default.target
